body{
  font-size   : 2em;
  font-family: 'Sigmar One', sans-serif;
}
p.example{
  color       : #777;
  font-style  : italic;
  font-size   : 0.8em;
}
.animation_box{
  margin          : 45px;
  font-size : 1.5em;
  text-align      : center;
  background-color: #B22;
  color           : white;
  float           : left;
  margin-right    : 0.2em;
  width           : 400px;
  height          : 300px;
}

#right{
  padding-top     : 1em;
  line-height: 1.5em;
}

input{
  font-size   : 1em;
  font-family: 'Sigmar One', sans-serif;
  width: 10em;
}
p{
  margin: 0.5em;
}
