body{
  font-size   : 2em;
  font-family: 'Sigmar One', sans-serif;
}
p.example{
  color       : #777;
  font-style  : italic;
  font-size   : 0.8em;
}
#animation_box{
  text-align      : center;
  font-size       : 3em;
  padding         : 1em;
  padding-left    : 0.3em;
  padding-right    : 0.3em;
  background-color: #123;
  color           : #123;
  float           : left; 
  margin-right    : 0.2em;
}

#right{
  padding-top     : 1em;
  line-height: 1.5em;
}

input{
  font-size   : 1em;
  font-family: 'Sigmar One', sans-serif;
  width: 10em;
}
p{
  margin: 0.5em;
}